@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 mr-2 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-[#18181b] transition-all hover:border-[#f87171]/40 
  hover:text-[#f9a8d4]/40 bg-[#f8fafc]/50 hover:text-base hover:text-[#e11d48]
    hover:bg-[#f9a8d4];
  }
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424]
    text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40
    focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40;
  }
}
